<div class="card card-sign-up">
    <div class="close-it">
        <a href="#map"><img src="img/close-img.png" class="close-user-profile"></a>
    </div>
    <h2 class="title is-2">
        Шаг 1
    </h2>
    <div class="form">
        <div class="field">
            <label class="label">Имя:</label>
            <p class="control">
                <input class="input registration-name" type="text" placeholder="Имя">
            </p>
        </div>
        <div class="field">
            <label class="label">Email:</label>
            <p class="control">
                <input class="input registration-email" type="text" placeholder="Email">
            </p>
        </div>
         <div class="field">
            <label class="label">Пароль:</label>
            <p class="control">
                <input class="input registration-password" placeholder="password" type="password">
            </p>
        </div>

        <div class="field">
            <p class="control">
                <button class="button is-primary sign-up-step-2">Далее &rarr;</button>
            </p>
        </div>

    </div>
</div>

