<div class="card card-sign-in">
  <h2 class="title is-2">
    Dog&amp;Me
  </h2>
 <div class="field field-email">
  <label class="label">
  <p class="control">
    <input class="input email-input" type="text" placeholder="email">
  </p>
  </label>
</div>
<div class="field">
  <label class="label">
  <p class="control">
    <input class="input password-input" type="password" placeholder="password">
  </p>
  </label>
</div>
<div class="field field-sign-in-button">
<p class="control">
    <button class="button is-primary sign-in-button">Войти</button>
  </p>
</div>
<div class="field is-grouped">
  <p class="control">
    <button class="button sign-in-with-google-button">Войти c Google</button>
  </p>
  <p class="control">
    <a class="button" href="#signUpStep1">Зарегистрироваться</a>
  </p>
</div>
</div>